<div>
  <h1>Carrito de Compras</h1>
    <div class="container ecommerce">

       <div class="row">
         <!-- Elementos que se generan a partir de la base de datos creada con JSON -->
        <main class="d-flex justify-content-center align-items-center">
          <div class="container m-2">
            <div class="row">
                <div class="col-12 d-flex flex-column justify-content-center" id="cart">

                  {{#each products}}

                    <div class="card m-2 d-flex flex-row justify-content-center align-items-center">
                        <img src="{{this.id.thumbnails.[0]}}" class="card-img-top p-3 m-0" style="width: 100px" alt="{{this.id.title}}">
                        <p class="card-text text-center p-2 m-0" style="width: 150px">{{this.id.title}}</p>
                        <input id="s{{this.id._id}}" onclick="modprodcart('{{this.id._id}}','qu{{this.id._id}}')" type="button" style="width: 150px" class="quit-units btn btn-success p-1 m-1" value="Modif Cantidad">
                        <input type="text" id="qu{{this.id._id}}" class="card-text text-center p-2 m-0" style="width: 50px" value={{this.quantity}}>
                        <input id="a{{this.id._id}}" onclick="delprodcart('{{this.id._id}}')" type="button" style="width: 150px" class="btn btn-danger p-1 m-1" value="Elimina Producto">
                        <p id="p${{this.id._id}}" class="card-text text-center p-2 m-0" style="width: 100px">${{this.id.price}}</p>
                    </div>

                  {{/each}}

                  <div class="card m-2 d-flex flex-row justify-content-center align-items-center">
                      <p class="card-text text-end p-2 m-0" style="width: 400px">Total del Carrito: $ {{totalprice}}</p>
                  </div>

                </div>
            </div>
          </div>
         </main>
      </div>
    </div>
</div>