<div>
  <h3 class="text-center font-weight-bold">Lista de Productos</h3>
    <div class="container ecommerce">

      <p style="color:rgb(68, 68, 96);font-size:20px;">
        {{#if userlogueado}}
          Bienvenido Usuario: <strong> {{user}} </strong>
            <input id='btnlogout' type="button" onclick="logOut()" class="btn btn-outline-dark m-2 ms-0 w-22" value="  Log Out !  ">
        {{else}}
          No hay usuario logueado....
        {{/if}}
      </p>

      <div>
        <label>Ingrese Texto para Filtrar: </label>
        <input class="text-center" style="width: 150px" value="" name="searchtext" id="searchtext">
        <input id="findText" type="button" onclick="findText()" style="width: 150px" class="btn btn-primary mt-2" value=" Filtrar ">
      </div>

      <p>

      </p>

      <div>

          {{#if hasPrevPage}}
            <input id="prevPage" type="button" onclick="selectPage('{{prevPage}}' )" style="width: 150px" class="btn btn-primary mt-2" value="Página Anterior">
          {{else}}
            <input disabled id="prevPage" type="button" onclick="selectPage('{{prevPage}}' )" style="width: 150px" class="btn btn-primary mt-2" value="Página Anterior">
          {{/if}}

          {{#if hasNextPage}}
            <input id="nextPage" type="button" onclick="selectPage('{{nextPage}}' )" style="width: 150px" class="btn btn-primary mt-2" value="Página Siguiente">
          {{else}}
            <input disabled id="nextPage" type="button" onclick="selectPage('{{nextPage}}' )" style="width: 150px" class="btn btn-primary mt-2" value="Página Siguiente">
          {{/if}}

      </div>

       <div class="row ">

         <main id="items" class="col-sm-12 row" >

            {{#each docs}}
            <div class="card text-white bg-info border-dark mt-3 col-sm-3 text-center card_agregada">
                <div class="card-body">
                  <h6 class="card-title"> CODIGO: {{this.code}} </h6>
                  <p class="card-text"> {{this.title}}  </p>
                  <img src="{{this.thumbnails.[0]}}" class="img-fluid" alt="imagen" width="800" height="300"/>
                  
                  <p class="card-text"> $ {{this.price}}  </p>
                  <input type="number" class="text-center" style="width: 150px" value="0" min="0" max={{this.stock}} name="quantity" id={{this._id}}>
                  <input id="add-to-cart" type="button" onclick="addToCart('{{this._id}}' )" style="width: 150px" class="btn btn-primary mt-2" value="Agregar al Carrito">
                </div>
            </div>
            {{/each}}

        <div>
          <p> Página Actual {{page}} </p>
        </div>

         </main>

      </div>
    </div>
</div>