<div>
  <h1>Productos del Ecommerce</h1>
    <div class="container ecommerce">
      <p>

      </p>
      <div>
        <label>Ingrese Texto para Filtrar: </label>
        <input class="text-center" style="width: 150px" value="" name="searchtext" id="searchtext">
        <input id="findText" type="button" onclick="findText()" style="width: 150px" class="btn btn-primary mt-2" value=" Filtrar ">
      </div>
      <p>

      </p>
       <div class="row">
         <!-- Elementos que se generan a partir de la base de datos creada con JSON -->
         <main id="items" class="col-sm-8 row">
            {{#each prod}}
              
            <div class="card col-sm-4 text-center card_agregada">
                <div class="card-body">
                  <h6 class="card-title"> CODIGO: {{this.code}} </h6>
                  <p class="card-text"> {{this.title}}  </p>
                  <img src="{{this.thumbnails.[0]}}" class="img-fluid" alt="imagen" width="800" height="300"/>
                  
                  <p class="card-text"> $ {{this.price}}  </p>
                  <input type="number" class="text-center" style="width: 150px" value="0" min="0" max={{this.stock}} name="quantity" id={{this._id}}>
                  <input id="add-to-cart" type="button" onclick="addToCart('{{this._id}}' )" style="width: 150px" class="btn btn-primary mt-2" value="Agregar al Carrito">
                </div>
            </div>
            {{/each}}

         </main>

      </div>
    </div>
</div>